<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">

    <style>
        body {
            padding: 0px;
            margin: 0px;
            font-family: 'Manrope', sans-serif;
            font-weight: 300;
        }

        .main {
            height: 100vh;
            width: 100%;
        }

        .form-holder {
            height: auto;
            width: 100%;
            max-width: 600px;
            text-align: center;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .form-holder input {
            text-align: center;
            height: 55px;
            line-height: 55px;
            font-size: 16px;
            width: 85%;
            max-width: 600px;
            border: 1px solid #00d2d2;
            border-radius: 6px;
            color: #141414;
            margin-top: 40px;
        }

        .form-holder h2 {
            font-size: 24px;
            color: #141414;
            font-weight: 700;
        }

        input:focus {
            outline: none;
        }

        .button {
            height: 50px;
            width: 200px;
            font-size: 16px;
            background: #00d2d2;
            margin: auto auto;
            margin-top: 25px;
            line-height: 50px;
            color: #ffffff;
            border-radius: 6px;
            cursor: pointer;
        }
    </style>


</head>

<body>

<div class="main">

    <div class="form-holder">

        <h2>Change your password</h2>

        <label>
            <input type="password" placeholder="Enter New Password" id="newPassword">
        </label>

        <div class="button" id="submit-form">

            Change Password

        </div>
        <p id="disp"></p>
    </div>

</div>

<script>
    let submitForm = document.getElementById('submit-form');

    submitForm.addEventListener('click', () => {
        //add your js code here which happens on the clicking of the button
        const url = window.location.href;
        const send = {password: document.getElementById('newPassword').value};
        fetch(url, {
            method: 'POST',
            body: JSON.stringify(send),
            headers: new Headers({
                'Content-Type': 'application/json'
            })
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if (!data.Error) {
                    document.getElementById("disp").innerHTML = "Password Successfully Updated";
                    document.getElementById("submit-form").style.display = "none";
                    setTimeout(() => {
                        window.location = "https://akina.dscvit.com";
                    }, 2000);
                } else {
                    document.getElementById("disp").innerHTML = "User Not Found";
                    document.getElementById("submit-form").style.display = "none";
                    setTimeout(() => {
                        window.location = "https://akina.dscvit.com";
                    }, 2000);
                }
            })
            .catch(error => {
                console.log(error);
            })
    });
</script>

</body>

</html>