<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        svg {
            display: block;
            position: relative;
            left: 50vw;
            top: 50vh;
            transform: translate(-50%, -50%);
        }

    </style>

</head>

<body>

<div class="holder">

    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="352px" height="352px" viewBox="0 0 352 352" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 64 (93537) - https://sketch.com -->
        <title>Group@SVG</title>
        <desc>Created with Sketch.</desc>
        <defs>
            <rect id="path-1" x="0" y="0" width="340" height="340" rx="6"></rect>
            <filter x="-2.8%" y="-2.8%" width="105.6%" height="105.6%" filterUnits="objectBoundingBox"
                    id="filter-2">
                <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1">
                </feMorphology>
                <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
                </feComposite>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.10470389 0" type="matrix"
                               in="shadowBlurOuter1"></feColorMatrix>
            </filter>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Artboard" transform="translate(-80.000000, -80.000000)">
                <g id="Group" transform="translate(86.000000, 86.000000)">
                    <g id="Group-10">
                        <g id="Rectangle">
                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                            <use stroke="#979797" stroke-width="1" fill="#FFFFFF" fill-rule="evenodd"
                                 xlink:href="#path-1"></use>
                        </g>
                        <g id="Group-9" transform="translate(58.000000, 104.000000)">
                            <text id="Email-Not-Verified" font-family="Manrope-ExtraBold, Manrope" font-size="24"
                                  font-weight="600" letter-spacing="0.857142857" fill="#242424">
                                <tspan x="0" y="126">Email Not Verified</tspan>
                            </text>
                            <circle id="Oval" fill="#D95071" cx="112" cy="37" r="37"></circle>
                        </g>
                    </g>
                    <g id="add-24px"
                       transform="translate(170.041631, 142.041631) rotate(45.000000) translate(-170.041631, -142.041631) translate(133.041631, 105.041631)">
                        <polygon id="Path"
                                 transform="translate(37.000000, 37.000000) rotate(45.000000) translate(-37.000000, -37.000000) "
                                 points="10.8823529 10.8823529 63.1176471 10.8823529 63.1176471 63.1176471 10.8823529 63.1176471">
                        </polygon>
                        <path
                                d="M49.7982684,39.1428571 L39.0839826,39.1428571 L39.0839826,49.8571429 C39.0839826,51.0357143 38.1196969,52 36.9411255,52 C35.7625541,52 34.7982684,51.0357143 34.7982684,49.8571429 L34.7982684,39.1428571 L24.0839826,39.1428571 C22.9054112,39.1428571 21.9411255,38.1785714 21.9411255,37 C21.9411255,35.8214286 22.9054112,34.8571429 24.0839826,34.8571429 L34.7982684,34.8571429 L34.7982684,24.1428571 C34.7982684,22.9642857 35.7625541,22 36.9411255,22 C38.1196969,22 39.0839826,22.9642857 39.0839826,24.1428571 L39.0839826,34.8571429 L49.7982684,34.8571429 C50.9768398,34.8571429 51.9411255,35.8214286 51.9411255,37 C51.9411255,38.1785714 50.9768398,39.1428571 49.7982684,39.1428571 Z"
                                id="Path" fill="#FFFFFF" fill-rule="nonzero"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>

</div>
<script>
    window.onload = () => {
        setTimeout(() => {
            window.location = "https://akina.dscvit.com"
        }, 2000)
    }
</script>

</body>

</html>