<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        svg {
            display: block;
            position: relative;
            left: 50vw;
            top: 50vh;
            transform: translate(-50%, -50%);
        }

    </style>

</head>

<body>

<?xml version="1.0" encoding="UTF-8"?>
<svg width="352px" height="352px" viewBox="0 0 352 352" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 64 (93537) - https://sketch.com -->
    <title>Group 10@SVG</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="0" y="0" width="340" height="340" rx="6"></rect>
        <filter x="-2.8%" y="-2.8%" width="105.6%" height="105.6%" filterUnits="objectBoundingBox" id="filter-2">
            <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
            <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.10470389 0" type="matrix"
                           in="shadowBlurOuter1"></feColorMatrix>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-80.000000, -80.000000)">
            <g id="Group-10" transform="translate(86.000000, 86.000000)">
                <g id="Group">
                    <g id="Rectangle">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use stroke="#979797" stroke-width="1" fill="#FFFFFF" fill-rule="evenodd"
                             xlink:href="#path-1"></use>
                    </g>
                    <text id="Email-Verified" font-family="Manrope-ExtraBold, Manrope" font-size="24" font-weight="600"
                          letter-spacing="0.857142857" fill="#242424">
                        <tspan x="83" y="230">Email Verified</tspan>
                    </text>
                    <circle id="Oval" fill="#00D2D2" cx="170" cy="141" r="37"></circle>
                    <polygon id="Path" points="150 121 190 121 190 161 150 161"></polygon>
                    <path d="M164.643987,147.971173 L158.845121,142.176342 C158.193375,141.52505 157.140555,141.52505 156.488809,142.176342 C155.837064,142.827634 155.837064,143.879722 156.488809,144.531014 L163.474187,151.511531 C164.125933,152.162823 165.178753,152.162823 165.830498,151.511531 L183.511191,133.843141 C184.162936,133.191849 184.162936,132.139761 183.511191,131.488469 C182.859445,130.837177 181.806625,130.837177 181.154879,131.488469 L164.643987,147.971173 Z"
                          id="Path" fill="#FFFFFF" fill-rule="nonzero"></path>
                </g>
                <g id="Group-9" transform="translate(83.000000, 104.000000)">
                    <g id="check-24px" transform="translate(67.000000, 17.000000)"></g>
                </g>
            </g>
        </g>
    </g>
</svg>
<script>
    window.onload = () => {
        setTimeout(() => {
            window.location = "https://akina.dscvit.com"
        }, 2000)
    }
</script>
</body>

</html>