doctype html
html(lang='en', dir='ltr')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        style(type='text/css').
            @media screen and (max-width: 525px) {
                table[class="wrapper"] {
                    width: 100% !important;
                }

                td[class="logo"] {
                    text-align: left;
                    padding: 20px 0 20px 0 !important;
                }

                td[class="logo"] img {
                    margin: 0 auto !important;
                }

                td[class="mobile-hide"] {
                    display: none;
                }

                img[class="mobile-hide"] {
                    display: none !important;
                }

                img[class="img-max"] {
                    max-width: 100% !important;
                    height: auto !important;
                }

                table[class="responsive-table"] {
                    width: 100% !important;
                }

                td[class="padding"] {
                    padding: 10px 5% 15px 5% !important;
                }

                td[class="padding-copy"] {
                    padding: 10px 5% 10px 5% !important;
                    text-align: center;
                }

                td[class="padding-meta"] {
                    padding: 30px 5% 0px 5% !important;
                    text-align: center;
                }

                td[class="no-pad"] {
                    padding: 0 0 20px 0 !important;
                }

                td[class="no-padding"] {
                    padding: 0 !important;
                }

                td[class="section-padding"] {
                    padding: 50px 15px 50px 15px !important;
                }

                td[class="section-padding-bottom-image"] {
                    padding: 50px 15px 0 15px !important;
                }

                td[class="mobile-wrapper"] {
                    padding: 10px 5% 15px 5% !important;
                }

                table[class="mobile-button-container"] {
                    margin: 0 auto;
                    width: 100% !important;
                }

                a[class="mobile-button"] {
                    width: 80% !important;
                    padding: 15px !important;
                    border: 0 !important;
                    font-size: 16px !important;
                }
            }
    body(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; max-width: 575px; margin: 0 auto; padding: 0; height: 100%; width: 100%;', dir='ltr')
        // HEADER
        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
            tbody
                tr
                    td(bgcolor='#ffffff', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                        div(align='center', style='padding: 0px 15px 0px 15px;')
                            table.wrapper(border='0', cellpadding='0', cellspacing='0', width='500', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                // LOGO/PREHEADER TEXT
                                tbody
                                    tr
                                        td.logo(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 30px 0px 30px 0px;')
                                            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                tbody
                                                    tr
                                                        td.mobile-hide(bgcolor='#ffffff', width='400', align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                            table(border='0', cellpadding='0', cellspacing='0', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                tbody
                                                                    tr
                                                                        td(align='center', style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0 0 5px 0; font-size: 23px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #666666; text-decoration: none;")
                                                                            span.branding(style='color: #666666; text-decoration: none;')
                                                                                a(href='https://akina.dscvit.com/', target='_blank', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: inherit; text-decoration: none;')
                                                                                    | Akina
        // ONE COLUMN W/ BOTTOM IMAGE SECTION
        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
            tbody
                tr
                    td.section-padding-bottom-image(bgcolor='#f8f8f8', align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 70px 15px 70px 15px;')
                        table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='500', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                            tbody
                                tr
                                    td(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                        table(width='100%', border='0', cellspacing='0', cellpadding='0', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                            tbody
                                                tr
                                                    td(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                        // COPY
                                                        table(width='100%', border='0', cellspacing='0', cellpadding='0', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                            tbody
                                                                tr
                                                                    td.padding-copy(align='center', style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-size: 25px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333;")
                                                                        | Hi #{name},
                                                                tr
                                                                    td.padding-copy(align='center', style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #666666;")
                                                                        // Intro
                                                                        p To complete your Akina registration, we just need to make sure this email address is yours.
                                                                        // Dictionary
                                                tr
                                                    td(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                        // Table
                                                        // ONE COLUMN SECTION
                                                        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                            tbody
                                                                tr
                                                                    td.section-padding(bgcolor='#ffffff', align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 15px 15px 40px 15px;')
                                                                        table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='500', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                            tbody
                                                                                tr
                                                                                    td(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                                                        table(width='100%', border='0', cellspacing='0', cellpadding='0', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                                            // Action
                                                                                            tbody
                                                                                                tr
                                                                                                    td(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                                                                        // COPY
                                                                                                        table(align='center', width='100%', border='0', cellspacing='0', cellpadding='0', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                                                            tbody
                                                                                                                tr
                                                                                                                    td.padding-copy(align='center', style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 25px 0 0 0; font-size: 16px; line-height: 25px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #666666;")
                                                                                                                        p Please click the button below to verify your account
                                                                                                tr
                                                                                                    td(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                                                                        // BULLETPROOF BUTTON
                                                                                                        table.mobile-button-container(align='center', width='100%', border='0', cellspacing='0', cellpadding='0', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                                                            tbody
                                                                                                                tr
                                                                                                                    td.padding-copy(align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 25px 0 0 0;')
                                                                                                                        table.responsive-table(border='0', cellspacing='0', cellpadding='0', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                                                                            tbody
                                                                                                                                tr
                                                                                                                                    td(align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                                                                                                        a.mobile-button(href=link, target='_blank', style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size: 16px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #00d2d2; border-top: 15px solid #00d2d2; border-bottom: 15px solid #00d2d2; border-left: 25px solid #00d2d2; border-right: 25px solid #00d2d2; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;") Verify account
                                                                                                // Outro
                                                                tr
                                                                    td(bgcolor='#f8f8f8', align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                                                                        table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                            tbody
                                                                                tr
                                                                                    td(style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px 0px 20px 0px;')
                                                                                        // UNSUBSCRIBE COPY
                                                                                        table.responsive-table(width='500', border='0', cellspacing='0', cellpadding='0', align='center', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse;')
                                                                                            tbody
                                                                                                tr
                                                                                                    td(align='center', valign='middle', style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-size: 12px; line-height: 18px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #666666;")
                                                                                                        span.appleFooter(style='color:#666666;')
                                                                                                            a(href='https://akina.dscvit.com/', target='_blank', style='-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #999999; text-decoration: none;')  Akina
                                                                                                            |  by DSC VIT
                                                                                                        br
                                                        // Support for Gmail Go-To Actions
